<div class="footer">
  Copyright © 2020 HYPE Industries. All rights reserved.
    <!-- <div class="footer_contents">
        <p style="position: absolute; bottom:5px; left:5px; font-size: 9px;">HYPE Industries &#169; 2020 All Rights Reserved</p>
    </div> -->
</div>
<script src="/js/bundle-main.js"></script>
</body>

</html>
<style>
    .footer {
      padding: 1rem;
      text-align: center;
      margin-top: 2rem;
    }
</style>
