<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37145897-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-37145897-4');
  </script>

  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
    heap.load("4104441460");
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pace</title>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h2 class="title">
            <span style="color: #000000; font-size:32">Pace</span>
          </h2>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbar-ham-menu" id="navbar-ham">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-ham-menu" class="navbar-menu">
        <div class="navbar-start">
          <% if(isAuth){ %>
            <a class="navbar-item" href="/bookmarks">
              Bookmarks
            </a>
          <% } %>
        </div>
        <div class="navbar-end">
          <% if(!isAuth){ %>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info" style="background-color: #f0e442; color:black" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
            </div>
          </div>
          <% } else {%>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= user.name %>
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/profile">
                Profile
              </a>
              <a class="navbar-item" href="/logout">
                Logout
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
