<meta property="og:site_name" content="Pace Board" />
<meta property="og:description" content="Pace is a digital bookmark tool designed for your modern digital life. Quickly add links from the web and preview them from your dashboard. An organized way to visualize your digital life. Find an important artical online or interesting video, and save it for later with Pace." />
<meta property="og:image" content="/images/Pace_Dashboard_Screenshot.png">

<%- include('components/headerDefault') %>
<div class="container">
  <div style="background: rgba(255,0,0,0.05);padding: 2rem 3rem;border-left: 5px red solid;margin:4rem 1rem 0 1rem;" >
    <h1 class="is-size-3">Important Notice</h1>
    <h1 class="is-size-4" style="font-weight: 100;">A new version has been released, DashBack!</h1>
    <br>
    Hello. Thank you for being an amazing beta tester for Pace. <b>I am pleased to inform that we are releasing a new version of Pace very soon, called DashBack</b>. We have a brand new login protocal and new API, plus folder and a chrome plugin coming soon. Dispite this, your account will not transfer to DashBack. <b><u>You will lose access to this account effective May 31th, 2020.</u></b> You may save all your data, or contact us to have it trasnfered to your new account at any time.
    <br><br><i>- Thanks for your support and stay safe, CEO Evan Sellers</i>
    <br>
    <br>
    <br>
    <a href="https://dashback.hype-industries.com/" style="background: #FBD94A;padding: 1rem 2rem;border-radius: 1rem; color:black;">Signup for DashBack</a>
  </div>

  <div class="hero">
    <div class="columns" style="margin: 8rem 0;">
      <div class="column">
        <img src="/images/organized_content.svg" style="padding:2rem;">
      </div>
      <div class="column" style="display:flex;margin:8rem 2rem 2rem 2rem;">
        <div>
          <h1 class="is-size-2" style="font-weight:bold;">Organize your Digital Life.</h1>
          <h1 class="is-size-4" style="font-weight:light;">Visual Digital Bookmark Manager</h1>
          <br>
          <a class="button" href="https://dashback.hype-industries.com/" style="background-color: #f0e442;">
            <strong>Sign up for DashBack</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="columns" style="margin: 8rem 0;background:black;padding: 2rem;text-align: center;border-radius:1rem;">
      <div class="column">
        <h1 class="is-size-3 has-text-white" style="font-weight:bold;padding:1rem;">Websites</h1>
      </div>
      <div class="column">
        <h1 class="is-size-3 has-text-white" style="font-weight:bold;padding:1rem;">News Articles</h1>
      </div>
      <div class="column">
        <h1 class="is-size-3 has-text-white" style="font-weight:bold;padding:1rem;">Videos</h1>
      </div>
      <div class="column">
        <h1 class="is-size-3 has-text-white" style="font-weight:bold;padding:1rem;">Photos</h1>
      </div>
    </div>



  </div>


  <div class="columns" style="margin: 8rem 0;">
    <div class="column" style="padding: 4rem;">
      <img src="/images/bookmarks.svg" style="padding:2rem;">
    </div>
    <div class="column" style="display: flex;align-items:center;">
      <div>
        <h1 class="title intro">What is Pace?</h1>
        <div class="desc">
          <p style="line-height: 30px;">
            Pace is a digital bookmark tool designed for your modern digital life. Quickly add links from the web and preview them from your dashboard. An organized way to visualize your digital life. Find an important artical online or interesting video, and save it for later with Pace.
          </p>
          <a href="https://dashback.hype-industries.com/">Sign up for DashBack</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="text-align:center;padding:4rem 0;">
    <h1 class="title intro" style="margin-bottom: 1rem;">Pace Beta Preview</h1>
    <img src="/images/Pace_Dashboard_Screenshot.png" style="border-radius:2rem;box-shadow: 2px 1px 25px 5px rgba(166,166,166,0.15);height:30%;">
  </div>



    <div class="container" style="text-align: center;padding:4rem 0;">
      <h1 class="title intro">Developers Note</h1>
      <div class="desc">
        <p style="line-height: 30px;">
          Pace is a digital organization tool with the intention streamlining the organization of important articles, videos and other websites. With
          Pace, we look to make your experience as streamlined as possible, with a simplistic UI and easy bookmark creation and editing system. We
          look to consitently improve Pace as well, based off your feedback on various features. In turn, Pace will be a consistetly improving and
          pleasant to use organization tool, made possible through the input of it's users. If you want to get on pace when it comes to organizing
          your digital life's bookmarks, sign up now and help build the perfect tool to assist you with your online management.
        </p>
        <a href="https://dashback.hype-industries.com">Sign up for DashBack</a>
      </div>
    </div>


  <div style="text-align: center; padding: 4rem 0;">
    <h1 class="title">Learn more about us</h1>
    <h1 class="linkTitle">Our Website:</h1>
    <a href="http://hype-industries.com/">hype-industries.com</a>
    <h1 class="linkTitle">Contact Us:</h1>
    <p>support@hype-industries.com</p>
  </div>
</div>
<%- include('components/footer') %>

<style>
  .intro {
    margin-top: 3%;
  }

  .linkTitle{
    line-height: 30px;
    font-weight: bold;
  }

  .desc {
    font-size: 20px;
    line-height: 100px;
  }
</style>
